RewriteEngine On
RewriteRule ^index.html$ / [QSA,R] 

ErrorDocument 404 /

Redirect 301 /site/ https://meleshun.github.io
Redirect 301 /site/tajem/ https://meleshun.github.io
Redirect 301 /site/telegram/
Redirect 301 /site/line-chart/
Redirect 301 /site/bar-charts/
Redirect 301 /site/coraltravel/
Redirect 301 /site/Tic-tac-toe/
Redirect 301 /site/misocial/
Redirect 301 /site/pokerAlpha/
Redirect 301 /site/barbershop-borodinski/
