#owl_reviews .owl-dot {
  outline: none;
  margin-top: 32px; }
  #owl_reviews .owl-dot:nth-child(1) span {
    background-image: url(../images/users/user_1.png); }
  #owl_reviews .owl-dot:nth-child(2) span {
    background-image: url(../images/users/user_2.png); }
  #owl_reviews .owl-dot:nth-child(3) span {
    background-image: url(../images/users/user_3.png); }
  #owl_reviews .owl-dot:nth-child(4) span {
    background-image: url(../images/users/user_4.png); }
  #owl_reviews .owl-dot:nth-child(5) span {
    background-image: url(../images/users/user_5.png); }
  #owl_reviews .owl-dot span {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 60px;
    height: 60px;
    margin: 0 2px;
    background: none;
    border: none;
    -webkit-border-radius: 100%;
            border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-transition: ease-out .3s transform;
    -o-transition: ease-out .3s transform;
    transition: ease-out .3s transform; }
  #owl_reviews .owl-dot.active span,
  #owl_reviews .owl-dot:hover span {
    -webkit-transform: translateZ(0) scale(1.3);
            transform: translateZ(0) scale(1.3); }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 16px;
  color: #413d4b;
  background-color: #ffffff; }

section {
  padding: 3em 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0.4em; }

h2 {
  font-size: 22px; }

strong {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase; }

b {
  font-family: "Playfair Display", serif;
  font-size: 100px;
  font-weight: 400; }

span {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  font-weight: 400; }

p {
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  margin: 0; }

a {
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  -webkit-transition: ease-out .2s;
  -o-transition: ease-out .2s;
  transition: ease-out .2s; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

hr {
  margin-top: 1em;
  margin-bottom: 2em;
  width: 50px;
  border: none;
  border-top: 1px solid #413d4b; }

input {
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 1em;
  padding: 8px;
  outline: none;
  border: 1px solid #A09EA5;
  background: none; }
  input:focus {
    border-left: 3px solid #00e0d0;
    padding-left: 6px; }
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #eee inset; }

.main, .footer, footer, .header, header {
  overflow: hidden; }

.logo {
  display: inline-block;
  width: 110px;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  font-weight: 100;
  text-transform: none;
  color: #00e0d0; }
  .logo a {
    font-size: inherit;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: inherit; }
  .logo img {
    width: 32px; }

.btn {
  display: inline-block;
  padding: 0.5em 0.7em;
  font-family: "Hammersmith One", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #00e0d0;
  outline: none;
  border: 1px solid #00e0d0;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  cursor: pointer;
  background: none;
  -webkit-transition: ease-out .2s;
  -o-transition: ease-out .2s;
  transition: ease-out .2s; }
  .btn:hover {
    color: #ffffff;
    background: #00e0d0; }

.header {
  background-image: url(../images/bg/bg_header.jpg);
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover; }

.video {
  background-image: url(../images/bg/bg_video.jpg);
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover; }

.team {
  background-image: url(../images/bg/bg_team.jpg);
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover; }

.reviews {
  background-image: url(../images/bg/bg_review.jpg);
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover; }

.footer {
  background-image: url(../images/bg/bg_footer.jpg);
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover; }

.bg {
  position: relative;
  color: #ffffff; }
  .bg div, .bg b {
    position: relative;
    z-index: 1; }
  .bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #311d5e;
    background: -webkit-linear-gradient(135deg, #311d5e 0%, #09052f 100%);
    background: -o-linear-gradient(135deg, #311d5e 0%, #09052f 100%);
    background: linear-gradient(-45deg, #311d5e 0%, #09052f 100%);
    opacity: 0.8;
    z-index: 0; }
  .bg .btn:hover {
    color: #ffffff;
    border-color: #ffffff;
    background: none; }
  .bg hr {
    border-color: #A09EA5; }

.header hr {
  border-color: #00e0d0; }

.navigation {
  position: absolute !important;
  margin: auto;
  left: 0;
  right: 0;
  padding: 10px 0;
  z-index: 999 !important;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }
  .navigation-menu {
    float: right; }
    .navigation-menu li {
      float: left;
      margin-top: 13px; }
    .navigation-menu a {
      padding-right: 12px;
      font-weight: 700; }
      .navigation-menu a:hover {
        color: #00e0d0; }

.navigation-fixed {
  position: fixed !important;
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  background-color: #311d5e;
  background-color: rgba(49, 29, 94, 0.9); }

@-webkit-keyframes example {
  0% {
    -webkit-box-shadow: 0 0 50px 20px rgba(49, 29, 94, 0.9);
            box-shadow: 0 0 50px 20px rgba(49, 29, 94, 0.9); }
  100% {
    -webkit-box-shadow: 0 0 50px 10px rgba(49, 29, 94, 0.1);
            box-shadow: 0 0 50px 10px rgba(49, 29, 94, 0.1); } }

@keyframes example {
  0% {
    -webkit-box-shadow: 0 0 50px 20px rgba(49, 29, 94, 0.9);
            box-shadow: 0 0 50px 20px rgba(49, 29, 94, 0.9); }
  100% {
    -webkit-box-shadow: 0 0 50px 10px rgba(49, 29, 94, 0.1);
            box-shadow: 0 0 50px 10px rgba(49, 29, 94, 0.1); } }

.intro {
  min-height: 540px;
  padding-top: 4em;
  text-align: center;
  color: #ffffff; }
  .intro-box {
    margin: 0 auto;
    padding: 0 10%;
    padding-top: 100px; }
  .intro h2 {
    text-transform: none;
    font-size: 32px;
    letter-spacing: 1px; }
  .intro p {
    margin-top: 2em;
    margin-bottom: 2em; }
  .intro .btn {
    margin-bottom: 8em; }

.main {
  text-align: center; }

.story .text-block {
  text-align: left;
  padding-left: 1em; }

.story h2 {
  margin-bottom: 0.8em; }

.story p {
  margin-bottom: 1.4em; }

.video {
  padding-top: 8em;
  padding-bottom: 6em;
  text-align: center; }
  .video strong {
    margin: 2em; }

#btn_video {
  display: inline-block;
  -webkit-transition: ease-out .3s;
  -o-transition: ease-out .3s;
  transition: ease-out .3s; }
  #btn_video svg {
    -webkit-transition: inherit;
    -o-transition: inherit;
    transition: inherit; }
  #btn_video:hover {
    color: #00e0d0;
    cursor: pointer; }
  #btn_video:hover svg {
    fill: #00e0d0; }

.expertise .sp {
  margin: 0 auto;
  display: block;
  width: 50px;
  height: 50px;
  background-image: url(../images/sprite/css_sprites.png); }

.expertise .bg-gisto {
  background-position: -202px -12px; }

.expertise .bg-heart {
  background-position: -276px -12px; }

.expertise .bg-mobil {
  width: 28px;
  background-position: -12px -12px; }

.expertise .bg-paint {
  background-position: -350px -12px; }

.expertise .bg-game {
  width: 41px;
  background-position: -64px -12px; }

.expertise .bg-desktop {
  background-position: -129px -12px; }

.expertise hr {
  margin-bottom: 3em; }

.expertise .skills {
  max-width: 900px;
  margin: 0 auto;
  overflow: hidden; }
  .expertise .skills .item {
    outline: 1px solid #EBEBEB;
    outline-offset: 0px; }

.expertise strong {
  margin-top: 1.4em;
  margin-bottom: 1em; }

.expertise .item {
  padding: 2em 1.4em; }

.team-block {
  margin-bottom: 4em; }

.team h2 {
  margin-bottom: 10px; }

.team .border {
  border: 1px solid #A09EA5;
  padding-top: 1em;
  padding-bottom: 1em; }

.team span {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  text-transform: uppercase; }

.team img {
  display: block;
  width: 100%; }

.team img, .team .border {
  cursor: pointer; }

.team .btn {
  margin-top: 1.4em; }

.work-text {
  padding-bottom: 3em; }
  .work-text a {
    font-size: 16px;
    font-weight: 300;
    text-transform: none; }
  .work-text i {
    margin-left: 8px; }

.work-item .item {
  padding: 0; }

.work-item img {
  display: block;
  width: 100%;
  text-transform: none; }

.work .btn {
  margin-top: 3em; }

.reviews {
  padding-top: 2em; }
  .reviews .owl-carousel {
    margin: 0 auto;
    max-width: 600px; }
  .reviews p {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    margin-bottom: 2em; }
  .reviews b {
    display: block;
    height: 1em; }
  .reviews span {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 100;
    text-transform: uppercase; }

.contact {
  padding-top: 2em;
  font-size: 14px;
  text-align: left; }
  .contact h2 {
    margin-bottom: 1.4em; }
  .contact input {
    width: 100%;
    -webkit-transition: ease-out .1s;
    -o-transition: ease-out .1s;
    transition: ease-out .1s; }
  .contact .btn {
    display: block;
    padding: 8px 20px;
    width: auto; }
  .contact [name=massage] {
    padding-bottom: 140px; }
  .contact .brand-img {
    width: 100%;
    height: 100%;
    background-image: url(../images/company-logo/css_sprite.png);
    background-repeat: no-repeat;
    background-position: top left;
    -webkit-background-size: 90% 90%;
            background-size: 90%; }

.footer {
  padding: 3em 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px; }
  .footer p {
    margin-bottom: 1em; }
  .footer strong {
    margin-top: 0.9em;
    margin-bottom: 34px; }
  .footer .left-col .text-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 14px; }
  .footer .left-col .logo {
    margin: 0;
    margin-bottom: 26px; }
  .footer .left-col p {
    margin-bottom: 3em; }
  .footer .left-col a:hover {
    color: #00e0d0; }
  .footer .center-col .text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .footer .center-col .icon {
    padding-right: 10px; }
  .footer .right-col .subscribe {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .footer .right-col .subscribe input {
      margin: 0;
      margin-bottom: 2em;
      color: #A09EA5; }
    .footer .right-col .subscribe .submit {
      margin-left: 6px;
      width: 60px;
      outline: none;
      border: none;
      background-color: rgba(255, 255, 255, 0.4);
      background-image: url(../images/paper.png);
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer; }
      .footer .right-col .subscribe .submit:hover {
        background-color: rgba(255, 255, 255, 0.8); }
  .footer .right-col .social li {
    float: left; }
    .footer .right-col .social li:nth-child(1) i {
      left: 0.6em; }
  .footer .right-col .social a {
    display: inline-block;
    width: 1.9em;
    height: 1.9em;
    padding: 10px;
    margin-right: 6px;
    border: 1px solid #A09EA5;
    -webkit-border-radius: 100%;
            border-radius: 100%;
    position: relative;
    -webkit-transition: ease-out .2s;
    -o-transition: ease-out .2s;
    transition: ease-out .2s; }
    .footer .right-col .social a:hover {
      color: #00e0d0;
      border-color: #00e0d0; }
  .footer .right-col .social i {
    position: absolute;
    top: 0.4em;
    left: 0.4em; }

@media (max-width: 768px) {
  section {
    padding: 3em 0;
    padding-bottom: 0;
    overflow: hidden; }
  .work-item .item {
    display: none; }
    .work-item .item:nth-child(1) {
      display: block; }
    .work-item .item:nth-child(2) {
      display: block; }
    .work-item .item:nth-child(3) {
      display: block; }
  .navigation {
    padding: 10px 0; }
    .navigation .logo {
      display: none; }
    .navigation-menu {
      float: none;
      display: -webkit-box !important;
      display: -webkit-flex !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-justify-content: space-around !important;
          -ms-flex-pack: distribute !important;
              justify-content: space-around !important; }
      .navigation-menu li {
        float: none;
        margin-top: 0; }
        .navigation-menu li:nth-child(4) {
          display: none; }
        .navigation-menu li:nth-child(6) {
          display: none; }
        .navigation-menu li a {
          padding: 0;
          font-size: 11px; }
  .intro {
    font-size: 13px; }
    .intro-box {
      padding-top: 3em;
      padding-left: 1em;
      padding-right: 1em; }
    .intro .btn {
      margin-bottom: 2em; }
  .story img {
    width: 30px; }
  .story .btn {
    margin-top: 10px; }
  .story .text-block {
    text-align: center; }
  .video {
    padding-top: 2em;
    padding-bottom: 0.5em; }
  .footer {
    padding-top: 1em; }
    .footer strong {
      height: 0; }
  .video, .brand, .team, .reviews, .left-col {
    display: none; } }

@media (max-width: 768px) {
  section {
    padding: 3em 0;
    padding-bottom: 0;
    overflow: hidden; }
  .work-item .item {
    display: none; }
    .work-item .item:nth-child(1) {
      display: block; }
    .work-item .item:nth-child(2) {
      display: block; }
    .work-item .item:nth-child(3) {
      display: block; }
  .navigation {
    padding: 10px 0; }
    .navigation .logo {
      display: none; }
    .navigation-menu {
      float: none;
      display: -webkit-box !important;
      display: -webkit-flex !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-justify-content: space-around !important;
          -ms-flex-pack: distribute !important;
              justify-content: space-around !important; }
      .navigation-menu li {
        float: none;
        margin-top: 0; }
        .navigation-menu li:nth-child(4) {
          display: none; }
        .navigation-menu li:nth-child(6) {
          display: none; }
        .navigation-menu li a {
          padding: 0;
          font-size: 11px; }
  .intro {
    font-size: 13px; }
    .intro-box {
      padding-top: 3em;
      padding-left: 1em;
      padding-right: 1em; }
    .intro .btn {
      margin-bottom: 2em; }
  .story img {
    width: 30px; }
  .story .btn {
    margin-top: 10px; }
  .story .text-block {
    text-align: center; }
  .video {
    padding-top: 2em;
    padding-bottom: 0.5em; }
  .footer {
    padding-top: 1em; }
    .footer strong {
      height: 0; }
  .video, .brand, .team, .reviews, .left-col {
    display: none; } }
