.clubs_2 {
	background: url(img/cards/2_of_clubs.png);
	-webkit-background-size: 100%;
	background-size: 100%;
	-webkit-background-size: 100%;
	-webkit-background-size: 100%;
	background-size: 100%;
	background-size: 100%;
	-webkit-background-size: 100%;
	background-size: 100%;
}
.clubs_3 {
	background: url(img/cards/3_of_clubs.png);
	-webkit-background-size: 100%;
	background-size: 100%;
}
.clubs_4 {
	background: url(img/cards/4_of_clubs.png);
	-webkit-background-size: 100%;
	background-size: 100%;
}
.clubs_5 {
	background: url(img/cards/5_of_clubs.png);
	-webkit-background-size: 100%;
	background-size: 100%;
}
.clubs_6 {
	background: url(img/cards/6_of_clubs.png);
	-webkit-background-size: 100%;
	background-size: 100%;
}
.clubs_7 {
	background: url(img/cards/7_of_clubs.png);
	-webkit-background-size: 100%;
	background-size: 100%;
}
.clubs_8 {
	background: url(img/cards/8_of_clubs.png);
	-webkit-background-size: 100%;
	background-size: 100%;
}
.clubs_9 {
	background: url(img/cards/9_of_clubs.png);
	-webkit-background-size: 100%;
	background-size: 100%;
}
.clubs_10 {
	background: url(img/cards/10_of_clubs.png);
	-webkit-background-size: 100%;
	background-size: 100%;
}
.clubs_jack {
	background: url(img/cards/jack_of_clubs.png);
	-webkit-background-size: 100%;
	background-size: 100%;
}
.clubs_queen {
	background: url(img/cards/queen_of_clubs.png);
	-webkit-background-size: 100%;
	background-size: 100%;
}
.clubs_king {
	background: url(img/cards/king_of_clubs.png);
	-webkit-background-size: 100%;
	background-size: 100%;
}
.clubs_ace {
	background: url(img/cards/ace_of_clubs.png);
	-webkit-background-size: 100%;
	background-size: 100%;
}
.diamonds_2 {
	background: url(img/cards/2_of_diamonds.png);
	-webkit-background-size: 100%;
	background-size: 100%;
}
.diamonds_3 {
	background: url(img/cards/3_of_diamonds.png);
	-webkit-background-size: 100%;
	background-size: 100%;
}
.diamonds_4 {
	background: url(img/cards/4_of_diamonds.png);
	-webkit-background-size: 100%;
	background-size: 100%;
}
.diamonds_5 {
	background: url(img/cards/5_of_diamonds.png);
	-webkit-background-size: 100%;
	background-size: 100%;
}
.diamonds_6 {
	background: url(img/cards/6_of_diamonds.png);
	-webkit-background-size: 100%;
	background-size: 100%;
}
.diamonds_7 {
	background: url(img/cards/7_of_diamonds.png);
	-webkit-background-size: 100%;
	background-size: 100%;
}
.diamonds_8 {
	background: url(img/cards/8_of_diamonds.png);
	-webkit-background-size: 100%;
	background-size: 100%;
}
.diamonds_9 {
	background: url(img/cards/9_of_diamonds.png);
	-webkit-background-size: 100%;
	background-size: 100%;
}
.diamonds_10 {
	background: url(img/cards/10_of_diamonds.png);
	-webkit-background-size: 100%;
	background-size: 100%;
}
.diamonds_jack {
	background: url(img/cards/jack_of_diamonds.png);
	-webkit-background-size: 100%;
	background-size: 100%;
}
.diamonds_queen {
	background: url(img/cards/queen_of_diamonds.png);
	-webkit-background-size: 100%;
	background-size: 100%;
}
.diamonds_king {
	background: url(img/cards/king_of_diamonds.png);
	-webkit-background-size: 100%;
	background-size: 100%;
}
.diamonds_ace {
	background: url(img/cards/ace_of_diamonds.png);
	-webkit-background-size: 100%;
	background-size: 100%;
}
.hearts_2 {
	background: url(img/cards/2_of_hearts.png);
	-webkit-background-size: 100%;
	background-size: 100%;
}
.hearts_3 {
	background: url(img/cards/3_of_hearts.png);
	-webkit-background-size: 100%;
	background-size: 100%;
}
.hearts_4 {
	background: url(img/cards/4_of_hearts.png);
	-webkit-background-size: 100%;
	background-size: 100%;
}
.hearts_5 {
	background: url(img/cards/5_of_hearts.png);
	-webkit-background-size: 100%;
	background-size: 100%;
}
.hearts_6 {
	background: url(img/cards/6_of_hearts.png);
	-webkit-background-size: 100%;
	background-size: 100%;
}
.hearts_7 {
	background: url(img/cards/7_of_hearts.png);
	-webkit-background-size: 100%;
	background-size: 100%;
}
.hearts_8 {
	background: url(img/cards/8_of_hearts.png);
	-webkit-background-size: 100%;
	background-size: 100%;
}
.hearts_9 {
	background: url(img/cards/9_of_hearts.png);
	-webkit-background-size: 100%;
	background-size: 100%;
}
.hearts_10 {
	background: url(img/cards/10_of_hearts.png);
	-webkit-background-size: 100%;
	background-size: 100%;
}
.hearts_jack {
	background: url(img/cards/jack_of_hearts.png);
	-webkit-background-size: 100%;
	background-size: 100%;
}
.hearts_queen {
	background: url(img/cards/queen_of_hearts.png);
	-webkit-background-size: 100%;
	background-size: 100%;
}
.hearts_king {
	background: url(img/cards/king_of_hearts.png);
	-webkit-background-size: 100%;
	background-size: 100%;
}
.hearts_ace {
	background: url(img/cards/ace_of_hearts.png);
	-webkit-background-size: 100%;
	background-size: 100%;
}
.spades_2 {
	background: url(img/cards/2_of_spades.png);
	-webkit-background-size: 100%;
	background-size: 100%;
}
.spades_3 {
	background: url(img/cards/3_of_spades.png);
	-webkit-background-size: 100%;
	background-size: 100%;
}
.spades_4 {
	background: url(img/cards/4_of_spades.png);
	-webkit-background-size: 100%;
	background-size: 100%;
}
.spades_5 {
	background: url(img/cards/5_of_spades.png);
	-webkit-background-size: 100%;
	background-size: 100%;
}
.spades_6 {
	background: url(img/cards/6_of_spades.png);
	-webkit-background-size: 100%;
	background-size: 100%;
}
.spades_7 {
	background: url(img/cards/7_of_spades.png);
	-webkit-background-size: 100%;
	background-size: 100%;
}
.spades_8 {
	background: url(img/cards/8_of_spades.png);
	-webkit-background-size: 100%;
	background-size: 100%;
}
.spades_9 {
	background: url(img/cards/9_of_spades.png);
	-webkit-background-size: 100%;
	background-size: 100%;
}
.spades_10 {
	background: url(img/cards/10_of_spades.png);
	-webkit-background-size: 100%;
	background-size: 100%;
}
.spades_jack {
	background: url(img/cards/jack_of_spades.png);
	-webkit-background-size: 100%;
	background-size: 100%;
}
.spades_queen {
	background: url(img/cards/queen_of_spades.png);
	-webkit-background-size: 100%;
	background-size: 100%;
}
.spades_king {
	background: url(img/cards/king_of_spades.png);
	-webkit-background-size: 100%;
	background-size: 100%;
}
.spades_ace {
	background: url(img/cards/ace_of_spades.png);
	-webkit-background-size: 100%;
	background-size: 100%;
}
.disable {
	transition: .4s;
	background: url(img/cardback.jpg);
	-webkit-background-size: 100%;
	background-size: 100%;
}