body {
	background-color: #1D1D1D;
	background: url(img/dark-triangles.png);
	/*-webkit-background-size: 100%;*/
	/*background-size: 100%;*/
}
.table {
	position: relative;
	width: 70%;
	height: 450px;
	margin: 106px auto;
	box-sizing: border-box;
	border: 10px solid #131313;
	border-radius: 180px;
	background: url(img/sa4106_800px_4.jpg);
	-webkit-background-size: 100%;
	background-size: 100%;
}
.playerOne, .playerTwo,.cardsOnTheTable {
	position: absolute;
	height: 180px; /* 242,8%, margin 5+5 */
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	/*background-color: black;*/
}
.playerOne, .playerTwo {
	width: 280px;
}
.playerOne {
	top: -105%;
}
.playerTwo {
	top: 105%;
}
.cardsOnTheTable {
	width: 660px;
}
.card {
	transition: .5s;
	width: 117px;
	height: 169px;
	/*background-color: #DE5347;*/
	float: left;
	margin: 5px;
	border-radius: 6px;
	-webkit-background-size: 100%;
	background-size: 100%;
}
.buttonStart {
	position: absolute;
	bottom: 3%;
	right: 3%;
	width: 140px;
	height: 50px;
	background-color: #111;
	color: #fff;
	border-radius: 5px;
}
